{% extends 'layout.twig' %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="panel z-depth-1">
			<div class="panel-header">
				<div class="panel-title">
					<h6>Add user profile</h6>
				</div>
			</div>
			<div class="panel-content">
				<form method="post" action="{{base_url()}}/add" id="add-form">
					<div class="row">
						{% for item in input_var %}
						<div class="col-xs-12 col-md-6">
							<div class="form-group {% if errors.first(item.name) %}has-error{% endif %}">
								<label for="{{item.label}}" class="control-label">{{item.label}}</label>
								<div class="">
									<input type="text" name="{{item.name}}" class="form-control boxed-input" id="inputSelecionarCliente" {% if attribute(request, item.name) %}value="{{ attribute(request, item.name) }}"{% endif %}>
									{% if errors.first(item.name) %}{{ errors.first(item.name)}}{% endif %}
								</div>
							</div>
						</div>
						{% endfor %}
						<div class="col-sm-12 col-md-6">
							<div class="form-group {% if errors.first(item.name) %}has-error{% endif %}">
								<label for="inputData" class="control-label">Birth Date</label>
								<div class="" style="display: flex;">
									<input type="text" name="birth_date" class="form-control boxed-input" id="inputData" {% if request.birth_date %}value="{{ request.birth_date }}"{% endif %}><i class="material-icons datepicker-icon" title="Selecionar data">event</i>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-12">
							<div class="form-group">
								<label for="inputStatus" class="control-label">Language</label>
								<div class="">
									<select name="language" class="form-control boxed-input" id="inputStatus">
										{% for item in lang_var %}
										<option value="{{item.id}}">{{item.language}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="form-group {% if errors.first(username) %}has-error{% endif %}">
								<label for="inputStatus" class="control-label">Username</label>
								<div class="">
									<input type="text" name="username" class="form-control boxed-input" id="inputSelecionarCliente" {% if request.username %}value="{{ request.username }}"{% endif %}>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="form-group {% if errors.first(password) %}has-error{% endif %}">
								<label for="inputStatus" class="control-label">Password</label>
								<div class="">
									<input type="password" name="password" class="form-control boxed-input" id="inputSelecionarCliente">
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group">
								<label for="inputTipoContaCorrente1" class="control-label">Interests</label>
								<div class="">
									{% for item in interest_var %}
										<div class="checkbox">
											<label>
												<input type="checkbox" name="interests[]" id="inputTipoContaCorrente1" value="{{ item.value }}">
												{{ item.label }}
											</label>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="row" style="text-align: right;">
					<div class="col-md-12">
						<button id="cancel" class="btn btn-secundary">Cancel</button>
						<button id="save-btn" class="btn btn-primary" type="submit">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}