{% extends 'layout.twig' %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="panel z-depth-1">
			<div class="panel-header">
				<div class="panel-title">
					<h6>Update user profile</h6>
				</div>
			</div>
			<div class="panel-content">
				<form method="post" action="{{base_url()}}/edit/{{id}}" id="edit-form">
					<div class="row">
						{% for item in input_var %}
						<div class="col-xs-12 col-md-6">
							<div class="form-group">
								<label for="{{item.label}}" class="control-label">{{item.label}}</label>
								<div class="">
									<input type="text" name="{{item.name}}" class="form-control boxed-input" id="inputSelecionarCliente" value="{{item.value}}">
								</div>
							</div>
						</div>
						{% endfor %}
						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label for="inputData" class="control-label">Birth Date</label>
								<div class="" style="display: flex;">
									<input type="text" name="birth_date" class="form-control boxed-input" id="inputData" value="{{birth_date}}"><i class="material-icons datepicker-icon" title="Selecionar data">event</i>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-12">
							<div class="form-group">
								<label for="inputStatus" class="control-label">Language</label>
								<div class="">
									<select name="language" class="form-control boxed-input" id="inputStatus">
										{% for item in lang_var %}
										<option value="{{item.id}}" {% if item.id == lang %} selected {% endif %}>{{item.language}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group">
								<label for="inputTipoContaCorrente1" class="control-label">Interests</label>
								<div class="">
									{% for item in interest_var %}
									<div class="checkbox">
										<label>
											<input type="checkbox" name="interests[]" id="inputTipoContaCorrente1" value="{{ item.value }}" {% if item.active == 'true' %} checked {% endif %}>
											{{ item.label }}
										</label>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="row" style="text-align: right;">
					<div class="col-md-12">
						<button id="cancel" class="btn btn-secundary">Cancel</button>

						<button id="update-btn" class="btn btn-primary">Update</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}